.Orientacao-content {
    margin-top: 70px;
    max-width: 1100px;
    height: auto;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.titulo {
    width: 75%;
    color: #050212;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.38px;
    align-self: center;
}

.Orientacao-text {
    width: 75%;
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.154px;
    margin: 30px auto 15px;
    text-align: justify;
}

.Orientacao-img {
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.detalhe-rosa {
    color: #FF4081;
}

.detalhe-amarelo {
    color: #FFC107;
}