* {
  padding: 0;
}

.App {
  width: 393px;
  height: 1805px;
  border-radius: 15px;
  background: #FFF;

  display: inline-block;
}

.App-link {
  color: #61dafb;
}

.Pages_Container {
  background-color: #61dafb;

  min-height: 500px;

  top: 20px;
  position: relative;
}