.Login-contents {
    margin-top: 100px;
    max-width: 1100px;
    height: auto;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}

.Form-contents {
    width: 100%;
    height: auto;
    border-radius: 15px;
    background: #F8F8F8;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


input {
    width: 90%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    margin: 10px;
    text-align: center;
}

.botao-login {
    width: 161px;
    height: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 50px;
    background: #FFC107;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botao-login:active {
    height: 36px;
    background: white;
    color: #FFC107;
    border: 2px solid #FFC107;
}

.biblioteca-amarelo {
    color: #FFC107;
}

h1 {
    color: #050212;
    font-size: 40px;
    font-weight: 650;
    line-height: 150%;
    letter-spacing: -0.95px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .Login-contents {
        margin-top: 50px;
        padding: 20px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

    .Form-contents {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        margin-bottom: 30px;
    }

    input {
        width: 90%;
    }
}
