.Cadastro-contents {
    margin-top: 100px;
    max-width: 1100px;
    height: auto;
    flex-shrink: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.Form-contents-cadastro {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background: #F8F8F8;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
}

input {
    width: 80%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    margin: 10px;
    text-align: center;
}

select {
    width: 80%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    margin: 10px;
    text-align: center;
}

select option {
    background: #fff; 
    color: #333; 
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


.botao-cadastro {
    width: 161px;
    height: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 50px;
    background: #FF4081;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botao-cadastro:active {
    height: 36px;
    background: white;
    color: #FF4081;
    border: 2px solid #FF4081;
}

.biblioteca-rosa {
    color: #FF4081;
}

h1 {
    color: #050212;
    font-size: 44px;
    font-weight: 650;
    line-height: 150%;
    letter-spacing: -0.95px;
}

.mensagem-sucesso {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 100px;
    background-color: #007924;
    color: #FFFFFF;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
}


@media (max-width: 768px) {
    .Cadastro-contents {
        margin-top: 50px;
        padding: 20px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .Form-contents-cadastro {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mensagem-sucesso {
        width: 90%;
        height: auto;
        margin-bottom: 100px;
    }

    h1 {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }

    input {
        width: 90%;
    }

    select {
        width: 90%;
    }
}