.Contents {
    width: 350.476px;
    height: 368px;
    border-radius: 15px;
    background: #F8F8F8;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
    margin: 20px;
    display: flex; /* Adicionar flex container */
    flex-direction: column; /* Organizar os elementos internos em coluna */
    align-items: flex-start; /* Alinhar itens à esquerda */
    margin-bottom: 300px;
}

.Image {
    width: 316.889px;
    height: 205.905px;
    border-radius: 10px;
    background: pink;
    margin: 10px; /* Adicionar margem entre a imagem e o texto */
}

.Text {
    margin: 10px; /* Adicionar margem entre o texto e o botão */
}

button {
    width: auto;
    padding: 5px 15px;
    margin: 10px;
    background-color: #FFF;
    border-radius: 50px;
    border: 2px solid pink;
    color: pink;
}
